
/* FOR HOME PAGE
Black = #1A202C
Dark Turquoise = #1F7872
Light Turquoise = #72B095
Beige = #DEDBA7
Light Beige = #f5f3cb
Red = #D13F31
*/


/*
White - fcf8e8
beige - ecdfc8
beige orange - ecb390
organe - df7861
*/


html {
	font-family: 'Jaldi', sans-serif;
}

body {
	margin: 0;
	background-image: linear-gradient(#fcf8e8, #f9f0cd);
}

header {
	text-align: center;
	color: #1A202C;
}

section {
	margin: 50px 0px;
}


@media only screen and (max-width: 1024px) {
    .homepage {
    	margin: 20px 0;
    }
}


.zone-no-hover {
    border: #D13F31;
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 1.5vw;
    padding: 0;
    background-image: linear-gradient(to bottom right, #eb4a26, #c72400);
    border-radius: 5px;
    overflow: hidden;
}
/*.main-nav {
 
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
} */


@media only screen and (max-width: 1024px) {
    .main-nav {
    	flex-direction: row;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
    color: white;
    font-size: 0.8em;
}

li:hover {
	background-color: #fb6746;
}

.main-nav {
	font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
 }

/*.main-nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/


/*.dropdown {
  float: left;
  overflow: hidden;
} */

.dropbtn {
  /*cursor: pointer;*/
  /*font-size: 0.8em; */ 
  border: none;
  outline: none;
  color: white;
  /*padding: 14px 16px;*/
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #ecb390;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #df7861;
}

.show {
  display: block;
}

@media screen and (max-width: 900px) {
	a, li {
		font-size: 2vw;
		width: inherit;
		text-decoration: none;
	}
} 

@media screen and (max-width: 1024px) {
  .main-nav li {
  	text-align: center;
    float: none;
    width: 100%;
    padding: 20px 0;
  }
} 


.gridsection {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 0.75fr);
	grid-gap: 20px;
	align-items: stretch;
}

.griditem {
	display: grid;
	padding: 15px;
	margin: 10px;
	border: 3px solid white;
	box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 white;
	background-color: #df7861;
	align-items: stretch;
}

.item1 {
	display: grid;
	grid-column: 1 / span 2;
	grid-row: 1;
}

.item2 {
	display: grid;
	grid-column: 1 / span 1;
	grid-row: 3 / 3;
}

.item3 {
	display: grid;
	grid-column: 3 / span 1;
	grid-row: 1 / 2;
}

.item4 {
	display: grid;
	grid-column: 2 / span 2;
	grid-row: 3;
}

.item5 {
	display: grid;
	grid-column: 1;
	grid-row: 2;
}
.item6 {
	display: grid;
	grid-column: 2;
	grid-row: 2;
}
.item7 {
	display: grid;
	grid-column: 3;
	grid-row: 2;
}
.item8 {
	display: grid;
	grid-column: 1 / span 2;
	grid-row: 4;
}
.item9 {
	display: grid;
	grid-column: 3;
	grid-row: 4;
}


.griditem > img {
	width: 100%;
	border: 3px solid grey;
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 grey;
}

@media screen and (max-width: 1024px) {
   .gridsection {
   	grid-gap: 10px;
  }
}

@media screen and (max-width: 1024px) {
   .griditem {
   	padding: 5px;
	margin: 8px;
  }
}

@media screen and (max-width: 1024px) {
   .griditem > img {
   	border: 1px solid grey;
  }
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height:300px;
	max-height:700px;
	position: relative;
	background-image: linear-gradient(to bottom right, #ecb390, #fcf8e8);
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 8vw;
    padding-top: 100px;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 6vw;
    padding-top: 70px;
  }
}

.container2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	height: auto;
	width: 100%;
	padding-bottom: 20px;
}

@media screen and (max-width: 1024px) {
   .container2 {
   	flex-direction: row;
   	justify-content: space-around;
    width: 100%;
  }
}

.holder {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 20em;
	height: auto;
	background-color: #ecb390;
	border-radius: 5px;
	padding: 20px;
	margin: 70px 50px 30px 40px;
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 grey;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: grey;
}

.holder:hover .overlay {
  opacity: 0.5;
}
.holder:hover .text {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.holder > img {
	width: 20em;
	height: auto;
	border: 4px solid #ecdfc8;
	border-radius: 5px;
}

@media screen and (max-width: 1024px) {
   .holder {
   	margin: 25px 0px;
   	width: 40%;
  }
}

@media screen and (max-width: 450px) {
   .holder {
   	margin: 30px 0px;
   	padding: 10px;
   	width: 60%;
  }
}


@media screen and (max-width: 1024px) {
   .holder > img {
   	width: 100%;
  }
}

.word-centered {
	position: relative;
	top: 50%;
}

.section-title {
	padding: 20px 30px 10px 30px;
	margin: 50px 0px 0px 0px;
	border-radius: 5px;
}

h2 {
	font-size: 3vw;
	margin: 0;
	padding: 0;
}

.top {
	position: sticky;
	height: 4em;
	width: 4em;
	z-index: 1;
	bottom: 10%;
	float: right;
	border-radius: 20px;
}

.top > button {
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background-color: #c72400;
	color: white;

}


@media screen and (max-width: 450px) {
   h2 {
   	font-size: 5vw;
  }
}

p {
	color: white;
	text-align: center;
	padding-top: 5px;
	margin: 5px;
}

@media screen and (max-width: 450px) {
   p {
   	font-size: 3vw;
  }
}

footer {
	display: flex;
	justify-content: center;
	background-image: linear-gradient(to bottom right, #5d6b87, #1A202C);
}

@media screen and (max-width: 1024px) {
   .dropdown-content {
    position: relative;
    margin: 20px 0 0 0;
}


@media screen and (max-width: 1024px) {
   .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

@media screen and (max-width: 1024px) {
   .dropbtn {
    cursor: pointer;
} 

@media screen and (max-width: 1024px) {
   .dropdown-content a {
    width: 90%;
    text-decoration: none;
    text-align: center;

}
