
/* FOR HOME PAGE
Black = #1A202C
Dark Turquoise = #1F7872
Light Turquoise = #72B095
Beige = #DEDBA7
Light Beige = #f5f3cb
Red = #D13F31
*/


/* FOR LANDSCAPE PAGE
d9bf77 - sand colour
d8ebb5 - light green
639a67 - green
2b580c - dark green
*/


html {
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
	background-image: linear-gradient(#72B095, #1F7872);
}

header {
	text-align: center;
	color: #1A202C;
}

.zone-no-hover {
    border: #D13F31;
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 1.5vw;
    padding: 0;
    background-color: #D13F31;
}

@media only screen and (max-width: 1024px) {
    .main-nav {
    	flex-direction: column;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

li:hover {
	background-color: #72B095;
}

/*Landscape page hover colour------------------------------*/

.ghover li:hover {
	background-color: #639a67;
}

.ghover a:hover {
	color: black;
}

/*---------------------------------------------------------*/

a {
    color: white;
    font-size: 0.8em;
}

@media screen and (max-width: 900px) {
	a {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 1024px) {
  .main-nav li {
  	text-align: center;
  	text-decoration: underline;
    float: none;
    width: 100%;
    padding: 20px 0;
  }
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height:300px;
	max-height:700px;
	position: relative;
}


/*container colour----------------------------*/
.beige {
	background-image: linear-gradient(#f5f3cb, #DEDBA7);
}

.beige-land {
	background-image: linear-gradient(#ffe6a1, #d9bf77)
}

/*----------------------------------------------*/


@media screen and (max-width: 1000px) {
  h1 {
    font-size: 8vw;
    padding-top: 100px;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 6vw;
    padding-top: 70px;
  }
}

.container2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
	width: 100%;
}

@media screen and (max-width: 1024px) {
   .container2 {
   	flex-direction: column;
   	justify-content: center;
    width: 100%;
  }
}

.holder {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30em
	height: auto;
	background-color: #1A202C;
	padding: 20px;
	margin: 50px 50px 15px 50px;
}


.holder > img {
	width: 30em;
	height: auto;
	border: 4px solid #D13F31;
}

/*Landscape colour for the image border---------------------*/

.land > img {
	width: 30em;
	height: auto;
	border: 4px solid #d8ebb5;
}

/*----------------------------------------------------------*/

@media screen and (max-width: 1024px) {
   .holder {
    padding-top: 20px;
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
	.main {
	background-color: #1A202C;
    border: 1px solid #1A202C;
	}
}

/*Landscape holder background colour---------------*/

@media screen and (max-width: 1024px) {
   .land {
    background-color: #2b580c;
    border: 1px solid #2b580c;
  }
}

/*--------------------------------------------------*/

@media screen and (max-width: 1024px) {
	.first {
		padding-top: 40px;
	}
}

@media screen and (max-width: 1024px) {
   .holder > img {
   	width: 100%;
  }
}

.word-centered {
	position: relative;
	top: 50%;
}

.section-title {
	padding: 20px 30px;
	margin: 70px 0px;
	background-color: #71ded3;
}

h2 {
	font-size: 4vw;
	margin: 0;
}

p {
	color: white;
	text-align: center;
	padding-top: 5px;
}

@media screen and (max-width: 1024px) {
	p {
		background-color: #1F7872;
		padding: 5px;
		width: 100%;
		font-size: 3vw;
	}
}


/*Landscape colour -------------------------------*/

@media screen and (max-width: 1024px) {
	p {
		background-color: #639a67;
		padding: 5px;
		width: 100%;
		font-size: 3vw;
	}
}

/*----------------------------------------------------*/
